In [2]:
import pandas as pd
df = pd.read_csv('insurance.csv')
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [3]:
df.iloc[2]

age                28
sex              male
bmi              33.0
children            3
smoker             no
region      southeast
charges      4449.462
Name: 2, dtype: object

In [5]:
df.iloc[1]

age                18
sex              male
bmi             33.77
children            1
smoker             no
region      southeast
charges     1725.5523
Name: 1, dtype: object

In [6]:
df.iloc[[2,1,0]]

   age     sex    bmi  children smoker     region     charges
2   28    male  33.00         3     no  southeast   4449.4620
1   18    male  33.77         1     no  southeast   1725.5523
0   19  female  27.90         0    yes  southwest  16884.9240

In [7]:
df[:3]

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [8]:
df[4:8]

   age     sex    bmi  children smoker     region    charges
4   32    male  28.88         0     no  northwest  3866.8552
5   31  female  25.74         0     no  southeast  3756.6216
6   46  female  33.44         1     no  southeast  8240.5896
7   37  female  27.74         3     no  northwest  7281.5056

In [9]:
df['region'].head(3)

0    southwest
1    southeast
2    southeast
Name: region, dtype: object

In [11]:
df[['smoker', 'region']][:3]

  smoker     region
0    yes  southwest
1     no  southeast
2     no  southeast

In [12]:
df.smoker.iloc[[2]]

2    no
Name: smoker, dtype: object

In [13]:
(df.smoker == 'no').head(3)

0    False
1     True
2     True
Name: smoker, dtype: bool

In [14]:
df[df.region == 'southwest']

      age     sex   bmi  children smoker     region      charges
0      19  female  27.9         0    yes  southwest  16884.92400
12     23    male  34.4         0     no  southwest   1826.84300
15     19    male  24.6         1     no  southwest   1837.23700
17     30    male  35.3         0    yes  southwest  36837.46700
19     30  female  32.4         1     no  southwest   4149.73600
...   ...     ...   ...       ...    ...        ...          ...
1222   19  female  20.6         0     no  southwest   1731.67700
1235   52    male  38.6         2     no  southwest  10325.20600
1237   23  female  33.4         0     no  southwest  10795.93733
1238   52  female  44.7         3     no  southwest  11411.68500
1242   21  female  25.8         0     no  southwest   2007.94500

[309 rows x 7 columns]